@model Project.Models.MainView
@{
    ViewBag.Title = "Bestelling";
}
<div class="center_title_bar">Winkelwagen Stap 2 van 4</div>
<div class="prod_box_big">
    <div class="top_prod_box_big"></div>
    <div class="center_prod_box_big">
        <div class="product_title_big">Bestelling</div>
        <table style="width:95%;">
                @if(Model.ListMand.Count == 0)
                {
                    <tr>
                        <td colspan="2">Geen producten in winkelwagen</td>
                    </tr>
                }else{
                    double totaalPrijs = 0;
                    for (int q = 0; q < Model.ListMand.Count; q++)
                    {
                        totaalPrijs += (Model.ListMand[q].Prijs * Model.ListMand[q].Aantal);
                    }
                    <tr style="font-weight: bold">
                        <td style="width:40%">Aflever adres</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Straat</td>
                        <td>@Model.gebruiker.Adres</td>
                    </tr>
                        <tr>
                        <td>Postcode</td>
                        <td>@Model.gebruiker.Postcode</td>
                    </tr>
                        <tr>
                        <td>Woonplaats</td>
                        <td>@Model.gebruiker.Woonplaats</td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr style="font-weight: bold">
                        <td colspan="2">Bestelling</td>
                    </tr>
                    <tr>
                        <td>Leveringtijd</td>
                        <td>2 dagen</td>
                    </tr>
                    <tr>
                        <td>Via</td>
                        <td>PostNL</td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    
                        
                        if(@Model.gebruiker.Goldmembership==true)
                        { 
                            <tr style="font-weight: bold">         
                            <td>Totaalbedrag incl. BTW</td>                 
                            <td>&euro;@(String.Format("{0:0.00}", @totaalPrijs*0.96))</td>
                                </tr>
                            <tr><td>Goldmember Korting:</td><td> &euro;@(String.Format("{0:0.00}", @totaalPrijs*0.04))</td></tr>
                        }
                        else {
                        <tr style="font-weight: bold">
                        <td>Totaalbedrag incl. BTW</td>
                        <td>&euro;@(String.Format("{0:0.00}", @totaalPrijs))</td>
                        </tr>
                        }
                    
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;"><a href="/Winkelmand/" style="text-align: left; height: 27px; background-color: white; width: 195px; line-height: 27px; color: #1c4a52; border-radius: 10px; padding: 7px; text-decoration:none;">Terug naar winkelwagen</a></td>
                        <td style="text-align:right;"><a href="/Winkelmand/Betaling/" style="text-align: right; height: 27px; background-color: white; width: 195px; line-height: 27px; color: #1c4a52; border-radius: 10px; padding: 7px; text-decoration:none;">Bevestig & Betaal</a></td>
                    </tr>
                }
            </table>
    </div>
    <div class="bottom_prod_box_big"></div>                   
</div>
