@{
    ViewBag.Title = "Index";
}

<div class="prod_box_big">
    <div class="top_prod_box_big"></div>
    <div class="center_prod_box_big">
        <div class="product_title_big">Websitebeheer</div>
        <br />
        <table style="width:100%">
            <tr>
                <td><a href="/Beheer/Producten/" style="text-align: right; height: 27px; background-color: white; width: 195px; line-height: 27px; color: #1c4a52; border-radius: 10px; padding: 7px; text-decoration:none;">Productenbeheer</a></td>
                <td><a href="/Beheer/Categorieen/" style="text-align: right; height: 27px; background-color: white; width: 195px; line-height: 27px; color: #1c4a52; border-radius: 10px; padding: 7px; text-decoration:none;">Categoriebeheer</a></td>
                <td><a href="/Beheer/GebruikerBeheer/" style="text-align: right; height: 27px; background-color: white; width: 195px; line-height: 27px; color: #1c4a52; border-radius: 10px; padding: 7px; text-decoration:none;">Gebruikerbeheer</a></td>
             </tr>
             <tr></tr>
             <tr>
                <td><a href="/Beheer/KlantenLijst/" style="text-align: right; height: 27px; background-color: white; width: 195px; line-height: 27px; color: #1c4a52; border-radius: 10px; padding: 7px; text-decoration:none;">Bestellingbeheer</a></td>
                <td><a href="/Beheer/Merken/" style="text-align: right; height: 27px; background-color: white; width: 195px; line-height: 27px; color: #1c4a52; border-radius: 10px; padding: 7px; text-decoration:none;">Merkbeheer</a></td>
                <td><a href="/Beheer/Beheerders/" style="text-align: right; height: 27px; background-color: white; width: 195px; line-height: 27px; color: #1c4a52; border-radius: 10px; padding: 7px; text-decoration:none;">Beheerder registreren</a></td>                
            </tr>
        </table>
    </div>
    <div class="bottom_prod_box_big"></div>                   
</div>