@{
    ViewBag.Title = "Over ons";
}
<div class="prod_box_big">
    <div class="top_prod_box_big"></div>
    <div class="center_prod_box_big">
        <div class="product_title_big">Over IntoSport</div>
        <img src="../../Content/images/winkel.jpg" style="margin:50px;"/>

        <h2>Wie zijn we?</h2>
        <p><b>IntoSport</b> is een gerenommeerde sportzaak in het Centrum van Groningen. Sinds 1978 zijn wij een begrip in de provincie. 
            De kernwaarden van onze winkel zijn klantvriendelijkheid, expertise en maatwerk. </p>

        <h2>Wat verkopen we?</h2>
        <p>Als je kleding of accessoires zoekt om je sport mee te beoefenen, ben je bij ons aan het juiste adres.
            Al onze producten zijn gemaakt door de meest bekwame kinderhanden, en voldoen aan de hoogste kwaliteitseisen.</p>

        <h2>Waar zitten we?</h2>
        <p>We zitten in het centrum van Groningen, je kan onze contact informatie vinden op de contact pagina.</p>

        <h2>Wat voor garantie bieden we?</h2>
        <p>Standaard zit op elk product een levenslange garantie. Mocht er iets mankeren aan je bestelling, dan kan je het gratis naar ons terugsturen. 
            Zie de contact pagina voor ons adres.
        </p>
    </div>
    <div class="bottom_prod_box_big"></div>                   
</div>
