@{
    ViewBag.Title = "Verzenden";
}
<div class="prod_box_big">
    <div class="top_prod_box_big"></div>
    <div class="center_prod_box_big">
        <div class="product_title_big">Verzendkosten</div>
        <p>Binnen Groningen: gratis bezorging door onze fietsende stagiares.<br /><br /></p>
        <p>Binnen Nederland: €6,75 voor pakketpost via PostNL.<br /><br /></p>
    </div>
    <div class="bottom_prod_box_big"></div>                   
</div>
